.label {
    -fx-background-color: #000000;
    -fx-border-color: #ffa12e;
    -fx-border-width: 0.75px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: #ffffff;
    -fx-font: 15px System;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-border-color: #33a7ff;
}

#displayPicture {
    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

